body {
	font-family: Tahoma, sans-serif;
}

.dir-list {
	background-color: #DDE;
	border: 1px solid #BBC;
	border-radius: 5px;
}

.file-name {
	font-family: Verdana;
}

.file-size {
	margin: 1em;
	color: #888;
}

.file-modified {
	float: right;
	color: #444;
}

.loading {
	padding: 0.5em 0.3em;
	background-color: #EED;
	border: 1px solid #CCB;
	border-radius: 5px;
}
